@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?70467122');
  src: url('fonts/fontello.eot?70467122#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?70467122') format('woff'),
       url('fonts/fontello.ttf?70467122') format('truetype'),
       url('fonts/fontello.svg?70467122#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?70467122#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"], [class*=" icon-"] {
  font-family: "fontello";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.nav [class^="icon-"],
.btn [class*=" icon-"],
.nav [class*=" icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */

}
.btn [class^="icon-"].icon-large,
.nav [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
.btn [class^="icon-"].icon-spin,
.nav [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}
.nav-tabs [class^="icon-"],
.nav-pills [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-pills [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

}
.nav-tabs [class^="icon-"],
.nav-pills [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-pills [class*=" icon-"],
.nav-tabs [class^="icon-"].icon-large,
.nav-pills [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"].icon-large,
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}
li [class^="icon-"],
.nav li [class^="icon-"],
li [class*=" icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="icon-"].icon-large,
.nav li [class^="icon-"].icon-large,
li [class*=" icon-"].icon-large,
.nav li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */

  width: 1.5625em;
}
ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .75em;
}
.icon-muted {
  color: #eeeeee;
}
.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icon-2x {
  font-size: 2em;
}
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.icon-3x {
  font-size: 3em;
}
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.icon-4x {
  font-size: 4em;
}
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}
.btn [class^="icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}
.btn.btn-small [class^="icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
@-moz-document url-prefix() {
  .icon-spin {
    height: .9em;
  }
  .btn .icon-spin {
    height: auto;
  }
  .icon-spin.icon-large {
    height: 1.25em;
  }
  .btn .icon-spin.icon-large {
    height: .75em;
  }
}

.icon-windy-rain-inv:before { content: '\e995'; } /* '' */
.icon-snow-inv:before { content: '\e996'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e997'; } /* '' */
.icon-hail-inv:before { content: '\e998'; } /* '' */
.icon-clouds-inv:before { content: '\e999'; } /* '' */
.icon-clouds-flash-inv:before { content: '\e99a'; } /* '' */
.icon-temperature:before { content: '\e99b'; } /* '' */
.icon-compass-1:before { content: '\e99c'; } /* '' */
.icon-na:before { content: '\e99d'; } /* '' */
.icon-celcius:before { content: '\e99e'; } /* '' */
.icon-fahrenheit:before { content: '\e99f'; } /* '' */
.icon-plus:before { content: '\e820'; } /* '' */
.icon-minus:before { content: '\e824'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e9a0'; } /* '' */
.icon-sun-inv:before { content: '\e9a1'; } /* '' */
.icon-moon-inv:before { content: '\e9a2'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e9a3'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e9a4'; } /* '' */
.icon-cloud-inv:before { content: '\e9a5'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e9a6'; } /* '' */
.icon-drizzle-inv:before { content: '\e9a7'; } /* '' */
.icon-rain-inv:before { content: '\e9a8'; } /* '' */
.icon-windy-inv:before { content: '\e9c2'; } /* '' */
.icon-sunrise:before { content: '\e9a9'; } /* '' */
.icon-sun-1:before { content: '\e9aa'; } /* '' */
.icon-moon-1:before { content: '\e9ab'; } /* '' */
.icon-eclipse:before { content: '\e9ac'; } /* '' */
.icon-mist:before { content: '\e9ad'; } /* '' */
.icon-wind:before { content: '\e9ae'; } /* '' */
.icon-snowflake:before { content: '\e9af'; } /* '' */
.icon-cloud-sun:before { content: '\e9b0'; } /* '' */
.icon-cloud-moon:before { content: '\e9b1'; } /* '' */
.icon-fog-sun:before { content: '\e9b2'; } /* '' */
.icon-fog-moon:before { content: '\e9b3'; } /* '' */
.icon-fog-cloud:before { content: '\e9b4'; } /* '' */
.icon-fog:before { content: '\e9b5'; } /* '' */
.icon-cloud-2:before { content: '\e9b6'; } /* '' */
.icon-cloud-flash:before { content: '\e9b7'; } /* '' */
.icon-cloud-flash-alt:before { content: '\e9b8'; } /* '' */
.icon-drizzle:before { content: '\e9b9'; } /* '' */
.icon-rain:before { content: '\e9ba'; } /* '' */
.icon-windy:before { content: '\e9bb'; } /* '' */
.icon-windy-rain:before { content: '\e9c3'; } /* '' */
.icon-snow:before { content: '\e9bc'; } /* '' */
.icon-snow-alt:before { content: '\e9bd'; } /* '' */
.icon-snow-heavy:before { content: '\e9be'; } /* '' */
.icon-hail:before { content: '\e9bf'; } /* '' */
.icon-clouds:before { content: '\e9c0'; } /* '' */
.icon-clouds-flash:before { content: '\e9c1'; } /* '' */
.icon-left-big:before { content: '\e8a0'; } /* '' */
.icon-up-big:before { content: '\e941'; } /* '' */
.icon-right-big:before { content: '\e8a1'; } /* '' */
.icon-down-big:before { content: '\e89f'; } /* '' */
.icon-home:before { content: '\e82d'; } /* '' */
.icon-pause:before { content: '\e949'; } /* '' */
.icon-fast-fw:before { content: '\e89b'; } /* '' */
.icon-fast-bw:before { content: '\e8a2'; } /* '' */
.icon-to-end:before { content: '\e94a'; } /* '' */
.icon-to-start:before { content: '\e899'; } /* '' */
.icon-stop:before { content: '\e948'; } /* '' */
.icon-up-dir:before { content: '\e893'; } /* '' */
.icon-play:before { content: '\e8ac'; } /* '' */
.icon-right-dir:before { content: '\e895'; } /* '' */
.icon-down-dir:before { content: '\e88d'; } /* '' */
.icon-left-dir:before { content: '\e894'; } /* '' */
.icon-cloud:before { content: '\e94b'; } /* '' */
.icon-umbrella:before { content: '\e94e'; } /* '' */
.icon-star:before { content: '\e80d'; } /* '' */
.icon-star-empty:before { content: '\e809'; } /* '' */
.icon-check:before { content: '\e955'; } /* '' */
.icon-left-hand:before { content: '\e944'; } /* '' */
.icon-up-hand:before { content: '\e945'; } /* '' */
.icon-right-hand:before { content: '\e943'; } /* '' */
.icon-down-hand:before { content: '\e946'; } /* '' */
.icon-th-list:before { content: '\e818'; } /* '' */
.icon-heart-empty:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e807'; } /* '' */
.icon-music:before { content: '\e803'; } /* '' */
.icon-th:before { content: '\e817'; } /* '' */
.icon-flag:before { content: '\e845'; } /* '' */
.icon-cog:before { content: '\e87b'; } /* '' */
.icon-attention:before { content: '\e866'; } /* '' */
.icon-flash:before { content: '\e94c'; } /* '' */
.icon-cog-alt:before { content: '\e87c'; } /* '' */
.icon-scissors:before { content: '\e8ba'; } /* '' */
.icon-flight:before { content: '\e8a4'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e85a'; } /* '' */
.icon-pencil:before { content: '\e858'; } /* '' */
.icon-ok:before { content: '\e819'; } /* '' */
.icon-ok-circled:before { content: '\e81a'; } /* '' */
.icon-cancel:before { content: '\e81d'; } /* '' */
.icon-cancel-circled:before { content: '\e81e'; } /* '' */
.icon-asterisk:before { content: '\e95d'; } /* '' */
.icon-attention-circled:before { content: '\e867'; } /* '' */
.icon-plus-circled:before { content: '\e821'; } /* '' */
.icon-minus-circled:before { content: '\e825'; } /* '' */
.icon-forward:before { content: '\e852'; } /* '' */
.icon-ccw:before { content: '\e891'; } /* '' */
.icon-cw:before { content: '\e890'; } /* '' */
.icon-resize-vertical:before { content: '\e92a'; } /* '' */
.icon-resize-horizontal:before { content: '\e92b'; } /* '' */
.icon-eject:before { content: '\e8a3'; } /* '' */
.icon-heart-1:before { content: '\e968'; } /* '' */
.icon-cloud-1:before { content: '\e986'; } /* '' */
.icon-star-1:before { content: '\e969'; } /* '' */
.icon-tv:before { content: '\e980'; } /* '' */
.icon-sound:before { content: '\e97d'; } /* '' */
.icon-videocam-1:before { content: '\e96b'; } /* '' */
.icon-trash-1:before { content: '\e977'; } /* '' */
.icon-user-1:before { content: '\e96a'; } /* '' */
.icon-key-1:before { content: '\e98c'; } /* '' */
.icon-search:before { content: '\e82e'; } /* '' */
.icon-cog-1:before { content: '\e97a'; } /* '' */
.icon-camera-1:before { content: '\e96c'; } /* '' */
.icon-tag-1:before { content: '\e971'; } /* '' */
.icon-lock-1:before { content: '\e96f'; } /* '' */
.icon-lightbulb-1:before { content: '\e97f'; } /* '' */
.icon-pencil-1:before { content: '\e973'; } /* '' */
.icon-diamond:before { content: '\e992'; } /* '' */
.icon-desktop-1:before { content: '\e981'; } /* '' */
.icon-location-1:before { content: '\e975'; } /* '' */
.icon-eye:before { content: '\e970'; } /* '' */
.icon-comment-1:before { content: '\e974'; } /* '' */
.icon-inbox-1:before { content: '\e984'; } /* '' */
.icon-cup:before { content: '\e976'; } /* '' */
.icon-mobile-1:before { content: '\e982'; } /* '' */
.icon-doc-1:before { content: '\e978'; } /* '' */
.icon-mail-1:before { content: '\e967'; } /* '' */
.icon-thumbs-up-1:before { content: '\e972'; } /* '' */
.icon-photo:before { content: '\e96d'; } /* '' */
.icon-note:before { content: '\e979'; } /* '' */
.icon-clock-1:before { content: '\e97e'; } /* '' */
.icon-paper-plane:before { content: '\e987'; } /* '' */
.icon-params:before { content: '\e97b'; } /* '' */
.icon-money-1:before { content: '\e98f'; } /* '' */
.icon-database:before { content: '\e98b'; } /* '' */
.icon-music-1:before { content: '\e800'; } /* '' */
.icon-megaphone-1:before { content: '\e98a'; } /* '' */
.icon-graduation-cap:before { content: '\e989'; } /* '' */
.icon-beaker-1:before { content: '\e98d'; } /* '' */
.icon-food-1:before { content: '\e990'; } /* '' */
.icon-t-shirt:before { content: '\e993'; } /* '' */
.icon-fire-1:before { content: '\e988'; } /* '' */
.icon-attach-1:before { content: '\e96e'; } /* '' */
.icon-shop:before { content: '\e991'; } /* '' */
.icon-calendar:before { content: '\e97c'; } /* '' */
.icon-wallet:before { content: '\e994'; } /* '' */
.icon-cd:before { content: '\e983'; } /* '' */
.icon-truck-1:before { content: '\e98e'; } /* '' */
.icon-globe-1:before { content: '\e985'; } /* '' */
.icon-star-half:before { content: '\e80a'; } /* '' */
.icon-ok-circled2:before { content: '\e81c'; } /* '' */
.icon-cancel-circled2:before { content: '\e81f'; } /* '' */
.icon-help-circled:before { content: '\e82a'; } /* '' */
.icon-info-circled:before { content: '\e82b'; } /* '' */
.icon-th-large:before { content: '\e816'; } /* '' */
.icon-eye-off:before { content: '\e840'; } /* '' */
.icon-tag:before { content: '\e841'; } /* '' */
.icon-tags:before { content: '\e844'; } /* '' */
.icon-camera-alt:before { content: '\e815'; } /* '' */
.icon-export:before { content: '\e856'; } /* '' */
.icon-print:before { content: '\e85b'; } /* '' */
.icon-retweet:before { content: '\e85c'; } /* '' */
.icon-comment:before { content: '\e85f'; } /* '' */
.icon-chat:before { content: '\e860'; } /* '' */
.icon-location:before { content: '\e868'; } /* '' */
.icon-trash:before { content: '\e86b'; } /* '' */
.icon-basket:before { content: '\e87e'; } /* '' */
.icon-login:before { content: '\e880'; } /* '' */
.icon-logout:before { content: '\e881'; } /* '' */
.icon-resize-full:before { content: '\e927'; } /* '' */
.icon-resize-small:before { content: '\e929'; } /* '' */
.icon-zoom-in:before { content: '\e920'; } /* '' */
.icon-zoom-out:before { content: '\e921'; } /* '' */
.icon-down-circled2:before { content: '\e922'; } /* '' */
.icon-up-circled2:before { content: '\e923'; } /* '' */
.icon-down-open:before { content: '\e896'; } /* '' */
.icon-left-open:before { content: '\e897'; } /* '' */
.icon-right-open:before { content: '\e898'; } /* '' */
.icon-up-open:before { content: '\e91f'; } /* '' */
.icon-arrows-cw:before { content: '\e936'; } /* '' */
.icon-play-circled2:before { content: '\e947'; } /* '' */
.icon-to-end-alt:before { content: '\e892'; } /* '' */
.icon-to-start-alt:before { content: '\e89a'; } /* '' */
.icon-inbox:before { content: '\e8b6'; } /* '' */
.icon-font:before { content: '\e8ad'; } /* '' */
.icon-bold:before { content: '\e8ae'; } /* '' */
.icon-italic:before { content: '\e8af'; } /* '' */
.icon-text-height:before { content: '\e93a'; } /* '' */
.icon-text-width:before { content: '\e93b'; } /* '' */
.icon-align-left:before { content: '\e8ca'; } /* '' */
.icon-align-center:before { content: '\e8bd'; } /* '' */
.icon-align-right:before { content: '\e8be'; } /* '' */
.icon-align-justify:before { content: '\e8bf'; } /* '' */
.icon-list:before { content: '\e8c0'; } /* '' */
.icon-indent-left:before { content: '\e8c1'; } /* '' */
.icon-indent-right:before { content: '\e8c2'; } /* '' */
.icon-off:before { content: '\e8dd'; } /* '' */
.icon-road:before { content: '\e8de'; } /* '' */
.icon-list-alt:before { content: '\e8df'; } /* '' */
.icon-qrcode:before { content: '\e8e0'; } /* '' */
.icon-barcode:before { content: '\e8e1'; } /* '' */
.icon-ajust:before { content: '\e953'; } /* '' */
.icon-tint:before { content: '\e954'; } /* '' */
.icon-magnet:before { content: '\e960'; } /* '' */
.icon-move:before { content: '\e931'; } /* '' */
.icon-link-ext:before { content: '\e831'; } /* '' */
.icon-check-empty:before { content: '\e956'; } /* '' */
.icon-bookmark-empty:before { content: '\e842'; } /* '' */
.icon-phone-squared:before { content: '\e879'; } /* '' */
.icon-twitter:before { content: '\e837'; } /* '' */
.icon-facebook:before { content: '\e903'; } /* '' */
.icon-github-circled:before { content: '\e909'; } /* '' */
.icon-rss:before { content: '\e876'; } /* '' */
.icon-hdd:before { content: '\e8c7'; } /* '' */
.icon-certificate:before { content: '\e957'; } /* '' */
.icon-left-circled:before { content: '\e88a'; } /* '' */
.icon-right-circled:before { content: '\e88c'; } /* '' */
.icon-up-circled:before { content: '\e88e'; } /* '' */
.icon-down-circled:before { content: '\e88f'; } /* '' */
.icon-tasks:before { content: '\e958'; } /* '' */
.icon-filter:before { content: '\e959'; } /* '' */
.icon-resize-full-alt:before { content: '\e928'; } /* '' */
.icon-beaker:before { content: '\e95a'; } /* '' */
.icon-docs:before { content: '\e86d'; } /* '' */
.icon-blank:before { content: '\e915'; } /* '' */
.icon-menu:before { content: '\e87a'; } /* '' */
.icon-list-bullet:before { content: '\e93e'; } /* '' */
.icon-list-numbered:before { content: '\e94f'; } /* '' */
.icon-strike:before { content: '\e950'; } /* '' */
.icon-underline:before { content: '\e951'; } /* '' */
.icon-table:before { content: '\e8b1'; } /* '' */
.icon-magic:before { content: '\e966'; } /* '' */
.icon-pinterest-circled:before { content: '\e802'; } /* '' */
.icon-pinterest-squared:before { content: '\e916'; } /* '' */
.icon-gplus-squared:before { content: '\e90b'; } /* '' */
.icon-gplus:before { content: '\e90c'; } /* '' */
.icon-money:before { content: '\e962'; } /* '' */
.icon-columns:before { content: '\e8b8'; } /* '' */
.icon-sort:before { content: '\e8d3'; } /* '' */
.icon-sort-down:before { content: '\e8d4'; } /* '' */
.icon-sort-up:before { content: '\e8d5'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-linkedin:before { content: '\e911'; } /* '' */
.icon-gauge:before { content: '\e8e4'; } /* '' */
.icon-comment-empty:before { content: '\e861'; } /* '' */
.icon-chat-empty:before { content: '\e862'; } /* '' */
.icon-sitemap:before { content: '\e8e5'; } /* '' */
.icon-paste:before { content: '\e8bb'; } /* '' */
.icon-lightbulb:before { content: '\e925'; } /* '' */
.icon-exchange:before { content: '\e8a8'; } /* '' */
.icon-download-cloud:before { content: '\e84e'; } /* '' */
.icon-upload-cloud:before { content: '\e84f'; } /* '' */
.icon-user-md:before { content: '\e8ea'; } /* '' */
.icon-stethoscope:before { content: '\e8eb'; } /* '' */
.icon-suitcase:before { content: '\e93c'; } /* '' */
.icon-bell-alt:before { content: '\e864'; } /* '' */
.icon-coffee:before { content: '\e8e7'; } /* '' */
.icon-food:before { content: '\e8e8'; } /* '' */
.icon-doc-text:before { content: '\e86e'; } /* '' */
.icon-building:before { content: '\e8f0'; } /* '' */
.icon-hospital:before { content: '\e8ef'; } /* '' */
.icon-ambulance:before { content: '\e8ec'; } /* '' */
.icon-medkit:before { content: '\e8ed'; } /* '' */
.icon-fighter-jet:before { content: '\e8a5'; } /* '' */
.icon-beer:before { content: '\e8e9'; } /* '' */
.icon-h-sigh:before { content: '\e8ee'; } /* '' */
.icon-plus-squared:before { content: '\e823'; } /* '' */
.icon-angle-double-left:before { content: '\e932'; } /* '' */
.icon-angle-double-right:before { content: '\e889'; } /* '' */
.icon-angle-double-up:before { content: '\e934'; } /* '' */
.icon-angle-double-down:before { content: '\e935'; } /* '' */
.icon-angle-left:before { content: '\e942'; } /* '' */
.icon-angle-right:before { content: '\e888'; } /* '' */
.icon-angle-up:before { content: '\e92c'; } /* '' */
.icon-angle-down:before { content: '\e92d'; } /* '' */
.icon-desktop:before { content: '\e8b2'; } /* '' */
.icon-laptop:before { content: '\e8b3'; } /* '' */
.icon-tablet:before { content: '\e8b4'; } /* '' */
.icon-mobile:before { content: '\e8b5'; } /* '' */
.icon-circle-empty:before { content: '\e95c'; } /* '' */
.icon-quote-left:before { content: '\e853'; } /* '' */
.icon-quote-right:before { content: '\e854'; } /* '' */
.icon-spinner:before { content: '\e8e6'; } /* '' */
.icon-circle:before { content: '\e95b'; } /* '' */
.icon-reply:before { content: '\e850'; } /* '' */
.icon-github:before { content: '\e907'; } /* '' */
.icon-folder-empty:before { content: '\e873'; } /* '' */
.icon-folder-open-empty:before { content: '\e874'; } /* '' */
.icon-plus-squared-small:before { content: '\e822'; } /* '' */
.icon-minus-squared-small:before { content: '\e829'; } /* '' */
.icon-smile:before { content: '\e8f1'; } /* '' */
.icon-frown:before { content: '\e8f2'; } /* '' */
.icon-meh:before { content: '\e8f3'; } /* '' */
.icon-gamepad:before { content: '\e85e'; } /* '' */
.icon-keyboard:before { content: '\e85d'; } /* '' */
.icon-flag-empty:before { content: '\e846'; } /* '' */
.icon-flag-checkered:before { content: '\e847'; } /* '' */
.icon-terminal:before { content: '\e8f5'; } /* '' */
.icon-code:before { content: '\e855'; } /* '' */
.icon-reply-all:before { content: '\e851'; } /* '' */
.icon-star-half-alt:before { content: '\e80b'; } /* '' */
.icon-direction:before { content: '\e869'; } /* '' */
.icon-crop:before { content: '\e8b9'; } /* '' */
.icon-fork:before { content: '\e8cc'; } /* '' */
.icon-unlink:before { content: '\e830'; } /* '' */
.icon-help:before { content: '\e828'; } /* '' */
.icon-info:before { content: '\e82c'; } /* '' */
.icon-attention-alt:before { content: '\e865'; } /* '' */
.icon-superscript:before { content: '\e952'; } /* '' */
.icon-subscript:before { content: '\e8b0'; } /* '' */
.icon-eraser:before { content: '\e8f6'; } /* '' */
.icon-puzzle:before { content: '\e8f7'; } /* '' */
.icon-mic:before { content: '\e882'; } /* '' */
.icon-mute:before { content: '\e883'; } /* '' */
.icon-shield:before { content: '\e8f8'; } /* '' */
.icon-calendar-empty:before { content: '\e87f'; } /* '' */
.icon-extinguisher:before { content: '\e8f9'; } /* '' */
.icon-rocket:before { content: '\e8cd'; } /* '' */
.icon-maxcdn:before { content: '\e912'; } /* '' */
.icon-angle-circled-left:before { content: '\e92e'; } /* '' */
.icon-angle-circled-right:before { content: '\e92f'; } /* '' */
.icon-angle-circled-up:before { content: '\e930'; } /* '' */
.icon-angle-circled-down:before { content: '\e933'; } /* '' */
.icon-html5:before { content: '\e90d'; } /* '' */
.icon-css3:before { content: '\e900'; } /* '' */
.icon-anchor:before { content: '\e8f4'; } /* '' */
.icon-lock-open-alt:before { content: '\e83e'; } /* '' */
.icon-bullseye:before { content: '\e8fa'; } /* '' */
.icon-ellipsis:before { content: '\e8db'; } /* '' */
.icon-ellipsis-vert:before { content: '\e8dc'; } /* '' */
.icon-rss-squared:before { content: '\e877'; } /* '' */
.icon-play-circled:before { content: '\e940'; } /* '' */
.icon-ticket:before { content: '\e8c3'; } /* '' */
.icon-minus-squared:before { content: '\e826'; } /* '' */
.icon-minus-squared-alt:before { content: '\e827'; } /* '' */
.icon-level-up:before { content: '\e937'; } /* '' */
.icon-level-down:before { content: '\e8c8'; } /* '' */
.icon-ok-squared:before { content: '\e81b'; } /* '' */
.icon-pencil-squared:before { content: '\e859'; } /* '' */
.icon-link-ext-alt:before { content: '\e83a'; } /* '' */
.icon-export-alt:before { content: '\e857'; } /* '' */
.icon-compass:before { content: '\e86a'; } /* '' */
.icon-collapse:before { content: '\e8a9'; } /* '' */
.icon-collapse-top:before { content: '\e8aa'; } /* '' */
.icon-expand:before { content: '\e8ab'; } /* '' */
.icon-euro:before { content: '\e963'; } /* '' */
.icon-pound:before { content: '\e964'; } /* '' */
.icon-dollar:before { content: '\e965'; } /* '' */
.icon-rupee:before { content: '\e8ce'; } /* '' */
.icon-yen:before { content: '\e8cf'; } /* '' */
.icon-renminbi:before { content: '\e8d0'; } /* '' */
.icon-won:before { content: '\e8d1'; } /* '' */
.icon-bitcoin:before { content: '\e8d2'; } /* '' */
.icon-doc-inv:before { content: '\e86f'; } /* '' */
.icon-doc-text-inv:before { content: '\e870'; } /* '' */
.icon-sort-name-up:before { content: '\e8d8'; } /* '' */
.icon-sort-name-down:before { content: '\e8d9'; } /* '' */
.icon-sort-alt-up:before { content: '\e8d6'; } /* '' */
.icon-sort-alt-down:before { content: '\e8d7'; } /* '' */
.icon-sort-number-up:before { content: '\e8da'; } /* '' */
.icon-sort-number-down:before { content: '\e8e2'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e84a'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e84b'; } /* '' */
.icon-youtube-squared:before { content: '\e913'; } /* '' */
.icon-youtube:before { content: '\e839'; } /* '' */
.icon-xing:before { content: '\e834'; } /* '' */
.icon-xing-squared:before { content: '\e835'; } /* '' */
.icon-youtube-play:before { content: '\e914'; } /* '' */
.icon-dropbox:before { content: '\e902'; } /* '' */
.icon-stackoverflow:before { content: '\e919'; } /* '' */
.icon-instagramm:before { content: '\e90e'; } /* '' */
.icon-flickr:before { content: '\e905'; } /* '' */
.icon-adn:before { content: '\e8fb'; } /* '' */
.icon-bitbucket:before { content: '\e8fe'; } /* '' */
.icon-bitbucket-squared:before { content: '\e8ff'; } /* '' */
.icon-tumblr:before { content: '\e91a'; } /* '' */
.icon-tumblr-squared:before { content: '\e833'; } /* '' */
.icon-down:before { content: '\e88b'; } /* '' */
.icon-up:before { content: '\e89e'; } /* '' */
.icon-right:before { content: '\e89d'; } /* '' */
.icon-left:before { content: '\e89c'; } /* '' */
.icon-apple:before { content: '\e8fd'; } /* '' */
.icon-windows:before { content: '\e91c'; } /* '' */
.icon-android:before { content: '\e8fc'; } /* '' */
.icon-linux:before { content: '\e910'; } /* '' */
.icon-dribbble:before { content: '\e901'; } /* '' */
.icon-skype:before { content: '\e918'; } /* '' */
.icon-foursquare:before { content: '\e906'; } /* '' */
.icon-trello:before { content: '\e832'; } /* '' */
.icon-female:before { content: '\e810'; } /* '' */
.icon-male:before { content: '\e80f'; } /* '' */
.icon-gittip:before { content: '\e90a'; } /* '' */
.icon-sun:before { content: '\e93f'; } /* '' */
.icon-moon:before { content: '\e94d'; } /* '' */
.icon-box:before { content: '\e875'; } /* '' */
.icon-bug:before { content: '\e91e'; } /* '' */
.icon-vkontakte:before { content: '\e838'; } /* '' */
.icon-weibo:before { content: '\e91b'; } /* '' */
.icon-renren:before { content: '\e917'; } /* '' */
.icon-github-squared:before { content: '\e908'; } /* '' */
.icon-twitter-squared:before { content: '\e836'; } /* '' */
.icon-facebook-squared:before { content: '\e904'; } /* '' */
.icon-linkedin-squared:before { content: '\e90f'; } /* '' */
.icon-picture:before { content: '\e813'; } /* '' */
.icon-globe:before { content: '\e8b7'; } /* '' */
.icon-leaf:before { content: '\e8a6'; } /* '' */
.icon-lemon:before { content: '\e91d'; } /* '' */
.icon-glass:before { content: '\e801'; } /* '' */
.icon-gift:before { content: '\e95e'; } /* '' */
.icon-videocam:before { content: '\e812'; } /* '' */
.icon-headphones:before { content: '\e887'; } /* '' */
.icon-video:before { content: '\e811'; } /* '' */
.icon-target:before { content: '\e938'; } /* '' */
.icon-award:before { content: '\e8c9'; } /* '' */
.icon-thumbs-up:before { content: '\e848'; } /* '' */
.icon-thumbs-down:before { content: '\e849'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80e'; } /* '' */
.icon-credit-card:before { content: '\e8c4'; } /* '' */
.icon-briefcase:before { content: '\e93d'; } /* '' */
.icon-floppy:before { content: '\e8c5'; } /* '' */
.icon-folder:before { content: '\e871'; } /* '' */
.icon-folder-open:before { content: '\e872'; } /* '' */
.icon-doc:before { content: '\e86c'; } /* '' */
.icon-chart-bar:before { content: '\e8bc'; } /* '' */
.icon-pin:before { content: '\e83f'; } /* '' */
.icon-attach:before { content: '\e83c'; } /* '' */
.icon-phone:before { content: '\e878'; } /* '' */
.icon-megaphone:before { content: '\e8c6'; } /* '' */
.icon-upload:before { content: '\e84d'; } /* '' */
.icon-download:before { content: '\e84c'; } /* '' */
.icon-signal:before { content: '\e939'; } /* '' */
.icon-camera:before { content: '\e814'; } /* '' */
.icon-shuffle:before { content: '\e8a7'; } /* '' */
.icon-volume-off:before { content: '\e884'; } /* '' */
.icon-volume-down:before { content: '\e885'; } /* '' */
.icon-volume-up:before { content: '\e886'; } /* '' */
.icon-search-1:before { content: '\e804'; } /* '' */
.icon-key:before { content: '\e8cb'; } /* '' */
.icon-lock:before { content: '\e83d'; } /* '' */
.icon-lock-open:before { content: '\e83b'; } /* '' */
.icon-bell:before { content: '\e863'; } /* '' */
.icon-bookmark:before { content: '\e843'; } /* '' */
.icon-link:before { content: '\e82f'; } /* '' */
.icon-fire:before { content: '\e95f'; } /* '' */
.icon-wrench:before { content: '\e87d'; } /* '' */
.icon-hammer:before { content: '\e8e3'; } /* '' */
.icon-clock:before { content: '\e924'; } /* '' */
.icon-truck:before { content: '\e961'; } /* '' */
.icon-block:before { content: '\e926'; } /* '' */
